.pgservicios section article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px 70px;
}

.pgservicios section .mantenimiento{
    border: 2px solid #D68303;
}

.pgservicios section .cableado{
    border: 2px solid #2C3E50;
}

.pgservicios section .sitioweb{
    border: 2px solid #008B88;
}

.pgservicios section article div h2{
    margin-bottom: 20px;
}

.pgservicios section article div ul li{
    line-height: 30px;
}

.pgservicios section article div img{
    width: 628px;
    height: 329px;
    border-radius: 10px;
}